body{
    background-color: white;
}

/*****************************************
Fuentes
******************************************/
/*@font-face{
}*/

/*
font-family: 'Raleway', 'sans-serif';
front-size: 18px;
line-height: 23px;
*/

/*****************************************
Typografía
******************************************/
:root html{
    font-size: 18px;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}


body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    line-height: 23px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: white;
}



/*Banner Principal o Menú principal*/
.banner-principal{
    background-color: rgba(255, 255, 255, 0.856);
    background-size: cover;
    background-position: center;
    width:0%;
    height: 140vh;
    position:relative;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
/*Degradado de menú principal*/
.banner-principal .block-sky {
    position: absolute;
    background: #6b7cca;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b7cca), to(rgba(255, 43, 69, 0)));
    background: -webkit-linear-gradient(top, #6b7cca 0%, rgba(255, 43, 69, 0) 100%);
    background: -o-linear-gradient(top, #6b7cca 0%, rgba(255, 43, 69, 0) 100%);
    background: linear-gradient(
180deg
, #6b7cca 0%, rgba(255, 43, 69, 0) 100%);
    width: 100%;
    height: 10vh;
    left: 0;
    top: 0;
    z-index: 1;
}

.banner-principal .block-black {
    background: #212123;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #1a1a1b), to(rgba(26, 26, 27, 0)));
    background: -webkit-linear-gradient(bottom, #1a1a1b 17%, rgba(26, 26, 27, 0) 100%);
    background: -o-linear-gradient(bottom, #1a1a1b 17%, rgba(26, 26, 27, 0) 100%);
    background: linear-gradient(
0deg
, #1a1a1b 17%, rgba(26, 26, 27, 0) 100%);
    width: 100%;
    height: 70vh;
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 1;
}
/*Barra de arriba que lleva el logo */
.align-items-center{
 -webkit-box-align: center;
 align-items: center;
}

.justify-content{
    -webkit-box-pack: center;
    justify-content: space-between;

}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-left: auto;
}
.principal-content{
    position: relative;
    font-weight: bold;
    z-index: 2;
    text-align: center;
    color:white;
}


 div{
     display: block;
 }

 h1{
    
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    line-height: 84px;
    font-weight: 700;
    text-align: initial;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}

h3{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}

h6{
    font-size: smaller;
    font-size: 15px;
    font-weight: 700;
    text-align: center;

}

a{
    text-decoration: none;
}
